@model IEnumerable<AlphaApplication.Models.Reservation>

@{
    ViewBag.Title = "Бронирование";
}

<p><h2><b>Заявки</b></h2></p>
<hr/>
<table class="table table-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @if (User.IsInRole("Офисный менеджер"))
            {
                using (Html.BeginForm("Allow", "Reservation", new { id = item.Id, allow = true }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Принять" class="btn btn-info float-left" />
                }
                using (Html.BeginForm("Delete", "Reservation", new { id = item.Id }, FormMethod.Post, new { onclick = "return confirm('Отклонить мероприятие?');" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Отклонить" class="btn btn-danger float-right" />
                }
            }
        </td>
    </tr>
}

</table>
